@charset UTF-8: * {
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
body, html, div, p, span, blockquote, u, s, i, b, table, tr, th, td, ul, ol, dl, li, dt, dd, strong, h1, h2, h3, h4, h5, header, footer, nav, aside, section, input, select, option, textarea {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-align: justify;
  text-justify: inter-ideograph;
  color: inherit;
}
body {
  font-weight: 400;
  font-size: 16px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  line-height: 1.6;
  color: #000;
}
img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: middle;
}
ul, ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  transition-property: all;
  transition: 0.3s linear;
}
table {
  border-collapse: collapse;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: 'Palanquin';
}


/*header*/


.title {
  text-align: center;
  font-family: 'Patua One', cursive;
}


.navi {
  display: flex;
  margin: 0 auto;
  width: 80%;
  align-items: center;
}

.navi li:hover{
  color: blue;
}

li {
  display: inline-block;
  font-family: 'Palanquin';
  color:black;
}


.list {
  margin: 0px 0px 10px 15px;
  font-size: 15px;
}

.logo{
  height: 35px;
}

.navi li:hover img {
  opacity: .5;
}

.contact {
  margin: 0 auto;
  padding-bottom: 15px;
  color: #0000FF;
}



/*main*/

.main {
  position: relative;
  margin: 0 auto;
  width: 80%;
}
.main1 {
  width: 1500px;
  height: 550px;
}
.main2 {
  position: absolute;
  color: white;
  top: 10%;
  left: 3%;
  font-size: 40px;
}
.main3 {
  position: absolute;
  color: white;
  top: 30%;
  left: 5%;
  font-size: 40px;
}
.main4 {
  position: absolute;
  color: white;
  top: 40%;
  left: 15%;
  font-size: 40px;
}
.main5 {
  position: absolute;
  color: white;
  top: 50%;
  left: 13%;
  font-size: 40px;
}
.main6 {
  position: absolute;
  color: white;
  top: 70%;
  left: 8%;
  font-size: 40px;
}

/*NEWS*/
.news,.introduction1,.message{
  padding-top: 30px;
}

a:hover{
  color: blue;
}


/*製品紹介*/

article{
  display: flex;
  margin: 0 auto;
  width: 80%;
}

figure{
  height: 400px;
  width: 800px;
}

.sns,.google{
  padding-top: 30px;
  text-align : center ;
}


.btn {
  border: 1px solid green;
  border-radius: 5px;
  background-color: #1d2088;
  padding: 15px;
  text-align: center;
  color: white;
  width: 100px;
  margin-right:20px;
  box-sizing: content-box;
}

.intro{
  padding-top: 20px;
}


/*導入事例*/

.example1 {
  height: 400px;
}

.example2 {
display: flex;
margin: 0 auto;
width: 80%;
}

.square {
  width: 620px;
  height: 400px;
  background: #7287cc;
  margin-top: 10px;
  position:relative;
}
.img1 {
  width: 500px;
  height: 400px;
}
.ex1 {
  position:absolute;
  color: white;
  top: 8%;
  left: 20%;
  font-size:35px;
}
.ex2 {
  position:absolute;
  color: black;
  top: 23%;
  left: 30%;
  font-size:20px;
}
.ex3 {
  position:absolute;
  color: black;
  top: 33%;
  left: 18%;
  font-size:20px;
}

.ex4{
  position:absolute;
  color: black;
  top: 55%;
  left: 15%;
  font-size:30px;
}

.ex5{
  position:absolute;
  color: black;
  top: 70%;
  left: 15%;
  font-size:20px;
}


/*message*/

.mes{
  font-size:20px;
}

.messe p{
  text-align:center;
}

.mess {
  display: flex;
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px
}
.ceo {
  width: 600px;
  height: 380px;
}
.ceo1 {
  margin: 50px 0px 100px 100px;
}


/*footer*/


footer {
  display: flex;
  width: 100%;
  background-color: #cdecf9;
  margin-top: 2%;
}

.container {
  display: flex;
  height: 100px;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
  align-items: flex-end;
}


.sp2 p{
  color:black;
}

.container .sp2 p:hover{
  color: blue;
}

.logo1 {
  height: 35px;
}